<form action="/search.php" method="get">
  <div class="dropdown-container dropdown-button-control topic-tools dropdown-right dropdown-down">
    <span title="{{ lang('TEST') }}" class="button button-secondary dropdown-trigger dropdown-select dropdown-toggle">
      {{ lang('TEST') }}
      <span class="caret">
        <i class="icon fa-sort-down fa-fw"></i>
      </span>
    </span>
    <div class="dropdown">
      <div class="pointer">
        <div class="pointer-inner"></div>
      </div>
      <div class="dropdown-contents dropdown-nonscroll">
        <fieldset class="display-options">
          <input type="hidden" name="author_id" value="-1">
          <input type="hidden" name="t" value="{{ TOPIC_ID }}">
          
          <li>
            <input type="button2" name="Unlock" value="unlock"><span>{{ "Unlock" }}</span>
          </li>
          <hr class="dashed">
          
        </fieldset>
      </div>
    </div>
  </div>
</form>